:root{
	--mainColor: #E4D9FF;
	--secondaryColor: #FAFAFF;

	--borderColor: #273469;
	--mainText: #30343F;
	--secondaryText: #1E2749;

	--buttonColor: #273469;
}

html, body{
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6, strong{
	color: var(--mainText);
	font-family: 'Righteous', cursive;
}

p, li, span, label, input, textarea{
	color: var(--secondaryText);
	font-family: 'Raleway', sans-serif;
}

body{
	background-color: var(--mainColor);
}

.s1{
	background-color: var(--mainColor);

}

.s2{
	background-color: var(--mainColor);

}

.main-container{
	width: 1600px;
	margin: 0 auto;
}

@media screen and (max-width:  1200px){
	.main-container{
		width: 95%;
	}
}
a{
	text-decoration: none;

}

ul{
	list-style: none;
}

h1{ font-size: 56px; }
h2{ font-size: 36px; }
h3{ font-size: 28px; 
text-decoration: underline;}
h4{ font-size: 24px; }
h5{ font-size: 20px; }
h6{ font-size: 16px; }

.name-warpper{
	display: grid;
	justify-content: center;
	align-content: center;

	min-height: 10em;
}

.navigation-wrapper{
	background-color: var(--mainColor);


	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 'nav'


}

.about-wrapper{
	/*border: 2px solid black;*/
	border-radius: 15px;
	background-color: var(--secondaryColor);


box-shadow: 10px 12px 22px -6px rgba(0,0,0,0.67);
-webkit-box-shadow: 10px 12px 22px -6px rgba(0,0,0,0.67);
-moz-box-shadow: 10px 12px 22px -6px rgba(0,0,0,0.67);

	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-rows: 25em;
	grid-gap: 10px;
	grid-template-areas: 'left-col right-col';
}

.nav{
	grid-area: nav;
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-family: 'Raleway', sans-serif;


}

.left-col{
	grid-area: left-col;
	display: grid;
	justify-content: center;
	align-content: center;
	
}
.right-col{
	grid-area: right-col;

}

#profilepic{
	
	width: 240px;
	height: 240px;
	
	
}

#navigation{
	margin: 0;
	padding: 10px;
	color: var(--mainText);
	font-family: 'Righteous', cursive;
	font-size: 28px;
}

#navigation li{
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	font-family: 'Righteous', cursive;
	
}
.picture-wrapper{
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--borderColor);
}

.picture-box{
	width: 240px;
	height: 240px;
	background-color: var(--borderColor);
	margin-left: -45px;
	margin-top: -210px;
}

.picture-box2{
	width: 240px;
	height: 240px;
	background-color: var(--secondaryText);
	margin-left: -80px;
	margin-top: -310px;
}

.skills-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;

}

.top-skills{
	padding: 60px;
	background-color: var(--secondaryText);
	width: 40%;
	height: 800px;
	margin-right: -120px;
	line-height: 150%;

	border-radius: 8px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	box-shadow: 10px 12px 22px -6px rgba(0,0,0,0.67);
-webkit-box-shadow: 10px 12px 22px -6px rgba(0,0,0,0.67);
-moz-box-shadow: 10px 12px 22px -6px rgba(0,0,0,0.67);
}

.socials{
	padding-left: 50px;
	background-color: var(--borderColor);
	width: 320px;
	height: 600px;
	line-height: 200%;
	overflow: hidden;
	border-radius: 8px;
	margin-left: -150px;
	margin-top: 160px;
		box-shadow: 10px 12px 22px -6px rgba(0,0,0,0.67);
-webkit-box-shadow: 10px 12px 22px -6px rgba(0,0,0,0.67);
-moz-box-shadow: 10px 12px 22px -6px rgba(0,0,0,0.67);
}
.top-skills li{
	font-weight: bolder;
	font-size: 1.3vw;
}

.socials li{

	font-weight: bolder;
	font-size: 1.3vw;

}

.list-box{
	width: 320px;
	height: 710px;
	padding-left: 50px;
}

.project-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	justify-content: center;
	gap: 30px;


	padding-bottom: 50px;
}

.post{
	border: 1px solid var(--borderColor);
	border-radius: 10px;

	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	box-shadow: 10px 12px 22px -6px rgba(0,0,0,0.67);
-webkit-box-shadow: 10px 12px 22px -6px rgba(0,0,0,0.67);
-moz-box-shadow: 10px 12px 22px -6px rgba(0,0,0,0.67);
}

.thumbnail{
		border-radius: 8px;
	display: block;
	width: 100%;
	height: 180px;
	object-fit: cover;

}

.post-preview{
	border-radius: 8px;
	background-color: var(--secondaryColor);
	padding: 15px;
}

.project-title{
	color: var(--mainText);
	margin: 0px;
}

.post-preview{
	color: var(--borderColor);
	font-size: 14px;
}

#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: var(--secondaryColor);
	background-color: var(--borderColor);
	border: none;	
}

#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 8px;
	background-color: var(--secondaryText);
	margin-bottom: 50px;
}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}

.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border: 1px solid var(--borderColor);
	font-size: 14px;
}